@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 370px;
    min-width: 200px;
    min-height: 500px;
    box-shadow: 1px 3px 5px 2px  rgba(0, 0, 0, 0.301);
    border-radius: 8px;
}
.header {
    width: 80%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: transparent;
    border-radius: 8px;
    border-style: dotted;
    margin-bottom: 8px;
    cursor: pointer;
}
.button__icon {
    width: 25px;
}
.button__title {
    margin: 7px 0px 7px 0px;
    padding-top: 4px;
}
.button__title a {
    text-decoration: none;
    color: #000;
}
.form__wraper {
    position: relative;
    width: 80%;
    font-size: 1.2rem;
    margin-top: 20px;
}
.form__wraper-label {
    position: absolute;
    top: -25px;
    left: 2px;
    text-transform: capitalize;
}
.form__wraper-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: dotted;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    padding-left: 8px;
}
.form__wraper-input:hover {
    border-color: rgba(0, 4, 252, 0.568);
}
.form__wraper-input:hover::placeholder {
    color: rgba(0, 4, 252, 0.568);
}
.form__wraper-input:focus {
    border-color: rgba(0, 4, 252, 0.568);
}
.form__wraper-input:focus::placeholder {
    color: rgba(0, 4, 252, 0.568);
}
.form__wraper-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    right: 8px;
}
.form__button {
    width: 100%;
    height: 35px;
    background-color: #0000ff;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 0;
    cursor: pointer;
}
.footer {
    width: 80%;
}
.footer__divide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: .8rem;
}
.footer__divideLink a {
    text-decoration: none !important;
    color: #000000af;
}
.footer__divideLink:hover a {
    text-decoration: underline !important;
}
.footer__end {
    text-align: center;
    margin-top: 0;
}
.footer__end a{
    text-decoration: none;
    color: #0000fff4;
}

